html,
body {
  height: 100%;
}

.container-block {
  display: flex;
  justify-content: center;
}

.block {
  margin-top: 10px;
  margin-bottom: 5%;
  width: 85%;
  border-style: solid;
}

.welcome{
	margin-top: 10px;
	margin-left: 10px;
}

#emptycart{
	margin-top: 10px;
	margin-left: 10px;
}

#logout{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

#casth{
  margin-left: 10px;
}

#orderButton{
  margin-bottom: 30px;
  margin-right: 30px;
}

#totalPrice{
  margin-right: 20px;
}

#eraseCart{
  margin-right: 20px;
  font-size: 1.2em;
}