@charset "utf-8";

#catalogblock{
	text-align: center;
	margin-left: 2%;
}
	
#catalogblock > li{
	list-style-type: none;
	background-color: "aliceblue";
	border:1px solid black;
	width:45%;
	float:left;
	margin-left: 2%;
	margin-bottom:10px;
	margin-top:20px;
}

#list{
	background-color:#fff;
	}
	
.titleblock {
	margin-top:4px;
	margin-bottom:0;
}
	
.titleblock p{
	font:bold 15px sans-serif;
	color:#0A93AB;
	text-decoration:underline;
}
	
.photoblock{
	height:196px;
	float:left;
	margin: 7px 7px 7px 7px;
}
	
.priceblock{
	font:16px sans-serif;
	margin-top:10px;
}
	
.priceblock strong{
	font:23px sans-serif;
	margin-top:7px;
}

.featureblock{
	font:14px/18px sans-serif;
	margin-top:10px;
}

#centered{
	text-align: center;
}

#marginTop{
  margin-top: 5%;
}